$fonts: (
  ("ProximaNovaCond", "ProximaNovaCond-Regular", 400, normal),
  ("ProximaNovaCond", "ProximaNovaCond-Semibold", 500, normal),
  ("ProximaNovaCond", "ProximaNovaCond-Bold", 700, normal),
  ("ProximaNova", "ProximaNova-Regular", 400, normal),
  ("ProximaNova", "ProximaNova-Bold", 700, normal),
  ("ProximaNova", "ProximaNova-Extrabld", 800, normal),
  ("PTSerif", "PTSerif-Italic", 400, italic),
  ("Georgia", "Georgia", 400, normal),
  ("Georgia", "Georgia-Italic", 400, italic),
  ("Georgia", "Georgia-BoldItalic", 700, italic)
);

@mixin font-face($family, $file-name, $weight, $style) {
  @font-face {
    font-family: $family;
    src: url("../fonts/#{$file-name}.woff2") format("woff2"), url("../fonts/#{$file-name}.woff") format("woff");
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@each $family, $file-name, $weight, $style in $fonts {
  @include font-face($family, $file-name, $weight, $style);
}
