$xs-breakpoint: 320px;
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 1200px;


$header-black: #1f1f1f;
$grey: #c2c2c2;
$brown: #b98348;
$light-grey: #eeeeee;
$light-brown: #caa57c;
$dark-brown: #8b5c28;
$footer-grey-border: #ababab;
$footer-bg: #f6f6f6;
$footer-grey-alt-border: #c3c3c3;
$footer-cat-text: #4c4c4c;
$footer-cat-underline: #d4d4d4;
