section.section.brands
  .section__wrapper
    h2.visually-hidden Бренды
    ul.brands__list
      li.brands__item
        img(width="197", height="131" src="img/resolute.png" alt="Resolute")
      li.brands__item
        img(width="125", height="45" src="img/castori.png" alt="Castori")
      li.brands__item
        img(width="195", height="24" src="img/tateossian.png" alt="Tateossian")
      li.brands__item
        img(width="85", height="62" src="img/AD56.png" alt="AD56")
      li.brands__item
        img(width="128", height="23" src="img/lo-white.png" alt="Lo.White")