section.categories
  .container
    h2.visually-hidden Категории товаров
    ul.categories__list
      li.categories__item
        a(href="#") Сорочки
      li.categories__item
        a(href="#") Пальто
      li.categories__item
        a(href="#") Обувь
      li.categories__item
        a(href="#") Запонки
      li.categories__item
        a(href="#") Галстуки
      li.categories__item
        a(href="#") Джинсы
      li.categories__item
        a(href="#") Нижнее бельё
      li.categories__item
        a(href="#") Кепки