section.section.custom
  .section__wrapper
    .custom__inner
      h2.visually-hidden Костюм на заказ
      p.custom__major
        i Пошив костюма на заказ - 
        | 4-5 недель за готовый костюм, 
        b сшитый персонально для Вас
      p.custom__minor Готовый костюм - 1-2 дня
      