section.fitting
  .fitting__header
    .container
      h2 Записаться на примерку
      p Когда и во сколько вам удобно подъехать для снятие мерок?
  .fitting__main
    .container
      form.fitting__form.form(action="#", method="post")
        .form__inner
          .form__group
            label.form__item.form__item--date
              span.form__item-title Выберите день
              span.form__item-wrapper
                input(type="date", name="date", value="2020-11-07")
            label.form__item.form__item--time
              span.form__item-title Выберите время
              span.form__item-wrapper
                select(name="time")
                  option 16:30
                  option 17:00
                  option 17:30
          label.form__item.form__item--address
            span.form__item-title Адрес ателье
            span.form__item-wrapper
              select(name="address")
                option ул. Марата (Санкт-Петербург)
                option ул. Московский проспект (Санкт-Петербург)
          label.form__item.form__item--name
            span.form__item-title Представьтесь пожалуйста
            span.form__item-wrapper
              input(type="text", placeholder="Напишите своё имя", minlength="4", required)
          label.form__item.form__item--phone
            span.form__item-title Ваш контактный телефон
            span.form__item-wrapper
              input(type="tel", placeholder="+7 850 345 789 12", required)
          button.form__submit(type="submit") Записаться
