footer.footer
  .footer__top
    .container
      .footer__top-inner
        ul.footer__nav
          li.footer__nav-item
            a(href="#") Пошив одежды
          li.footer__nav-item
            a(href="#") Каталог
          li.footer__nav-item
            a(href="#") О магазине
          li.footer__nav-item
            a(href="#") Блог
          li.footer__nav-item
            a(href="#") Партнёрам
        ul.footer__categories
          li.footer__cat-item
            a(href="") Костюмы
          li.footer__cat-item
            a(href="") Сорочки
          li.footer__cat-item
            a(href="") Пальто
          li.footer__cat-item
            a(href="") Обувь
          li.footer__cat-item
            a(href="") Запонки
          li.footer__cat-item
            a(href="") Галстуки
          li.footer__cat-item
            a(href="") Джинсы
          li.footer__cat-item
            a(href="") Нижнее бельё
          li.footer__cat-item
            a(href="") Кепки
        .footer__info
          .footer__contacts
            h3 Контакты:
            p.footer__address Адрес: Студенческая улица, 20
            p.footer__phone
              | тел: 
              a(href="tel:+74992401001") +7 (499) 240-10-01
            p.footer__email 
              | e-mail: 
              a(href="mailto:info@my-suit.ru") info@my-suit.ru
          ul.footer__social.social.social--footer
            li.social__item
              a(href="#" aria-label="Ссылка на Facebook")
                img(width="7", height="14", src="img/facebook-footer.png", alt="Facebook")
            li.social__item
              a(href="#" aria-label="Ссылка на VK")
                img(width="11", height="13", src="img/vk-footer.png", alt="VK")
            li.social__item
              a(href="#" aria-label="Ссылка на Twitter")
                img(width="9", height="12", src="img/twitter-footer.png", alt="Twitter")
            li.social__item
              a(href="#" aria-label="Ссылка на Google+")
                img(width="14", height="12", src="img/googleplus-footer.png", alt="Google+")
  .footer__bottom
    .container
      p.footer__copyright Copywrite Еtrusci, Ltd 2015-2016 All rights preserved