header.header
  .section.header__top
    .section__wrapper
      .header__top-inner
        .header__top-left
          ul.header__social.social
            li.social__item
              a(href="#" aria-label="Ссылка на Facebook")
                img(width="7", height="14", src="img/facebook.png", alt="Facebook")
            li.social__item
              a(href="#" aria-label="Ссылка на VK")
                img(width="11", height="13", src="img/vk.png", alt="VK")
            li.social__item
              a(href="#" aria-label="Ссылка на Twitter")
                img(width="9", height="12", src="img/twitter.png", alt="Twitter")
            li.social__item
              a(href="#" aria-label="Ссылка на Google+")
                img(width="14", height="12", src="img/googleplus.png", alt="Google+")
          .header__location
            a(href="#") Москва
        .header__phone
          a(href="tel:+74992401001") +7 (499) 240-10-01
        .header__usermenu
          .header__user
            a(href="#") Войти
          .header__cart
            a(href="#" data-count="3") Корзина
  nav.section.header__nav
    .section__wrapper
      .header__nav-inner
        a.header__logo(href="index.html")
          img(width="157", height="38", src="img/logo.png", alt="Лого")
        ul.header__nav-list
          li.header__nav-item.header__nav-item--active
            a(href="#") Пошив  одежды
          li.header__nav-item
            a(href="#") Интернет магазин
          li.header__nav-item
            a(href="#") О магазине
          li.header__nav-item
            a(href="#") Блог
          li.header__nav-item
            a(href="#") Контакты

      