section.section.promo
  .section__wrapper
    h2.visually-hidden Промо-ссылки
    ul.promo__list
      li.promo__item.tile
        a.tile__link(href="#", style="background-image: url(img/card1.jpg);")
          h3 Однобортный пиджак 
            span.tile__serif Louis Purple
          p.tile__undertext Коллекция Весна/Лето 2015.
      li.promo__item.tile
        a.tile__link(href="#", style="background-image: url(img/card2.jpg);")
          h3 Пиджак и жилет 
            span.tile__serif Louis Purple
          p.tile__undertext Коллекция Весна/Лето 2015.
      li.promo__item.tile
        a.tile__link(href="#", style="background-image: url(img/card3.jpg);")
          p.tile__brown Процесс создания Вашей будущей сорочки – это наше совместное творчество
      li.promo__item.tile
        a.tile__link(href="#", style="background-image: url(img/card4.jpg);")
          h3 Готовая обувь 
            span.tile__serif 
              | Lo White
              span.tile__and  и 
              | Castori
          p.tile__button Пошив обуви на заказ
      li.promo__item.tile
        a.tile__link(href="#", style="background-image: url(img/card5.jpg);")
          h3 Запонки 
            span.tile__serif Tateossian
          p.tile__undertext 
            | Известный английский 
            br
            | производитель 
            br
            | аксессуаров.
      li.promo__item.tile.tile--blog
        a.tile__link(href="#", style="background-image: url(img/card6.jpg);")
          h3 Связать воедино: выбираем шарф! 
          time.tile__date(datetime="2015-10-30") 30 октября | 2015
        .tile__bg.tile__bg--card6