section.promo
  .container
    h2.visually-hidden Промо-ссылки
    ul.promo__list
      li.promo__item.promo__item--card1
        a(href="#")
          h3 Однобортный пиджак 
            span.promo__serif Louis Purple
          p Коллекция Весна/Лето 2015.
      li.promo__item.promo__item--card2
        a(href="#")
          h3 Пиджак и жилет 
            span.promo__serif Louis Purple
          p Коллекция Весна/Лето 2015.
      li.promo__item.promo__item--card3
        a(href="#")
          p.promo__brown Процесс создания Вашей будущей сорочки – это наше совместное творчество
      li.promo__item.promo__item--card4
        a(href="#")
          h3 Готовая обувь 
            span.promo__serif 
              | Lo White
              span.promo__and  и 
              | Castori
          p.promo__button Пошив обуви на заказ
      li.promo__item.promo__item--card5
        a(href="#")
          h3 Запонки 
            span.promo__serif Tateossian
          p 
            | Известный английский 
            br
            | производитель 
            br
            | аксессуаров.
      li.promo__item.promo__item--card6.promo__item--blog
        a(href="#")
          h3 Связать воедино: выбираем шарф! 
          p.promo__date 30 октября 2015