.categories {
  background-color: #ffffff;
}

.categories__list {
  margin-bottom: -1em;
  padding: 2rem 0;
  font-family: "ProximaNova", "ProximaNovaCond", "Arial", sans-serif;
  columns: 2;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;

  @include media($md-breakpoint) {
    margin-right: -1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  @include media($lg-breakpoint) {
    justify-content: space-between;
  }
}

.categories__item {
  margin-bottom: 1em;
  break-inside: avoid;

  @include media($md-breakpoint) {
    margin-right: 1em;
    flex: 0 0 auto;
  }

  a {
    padding: 1em;
    display: block;
    text-align: center;
    transition: 0.3s;

    &:hover,
    &:focus {
      color: $brown;
      box-shadow: inset 0 0 0 2px $brown;
      outline: none;
    }
  }
}
