.promo__list {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;

  @include media($md-breakpoint) {
    margin-right: -8px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.promo__item {
  margin-bottom: 8px;
}
