.social {
  display: flex;
  justify-content: center;
  // flex-wrap: wrap;
}

.social__item {
  border: 1px solid $grey;

  &:not(:first-child) {
    border-left-width: 0;
  }

  a {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;

    &:hover,
    &:focus {
      background-color: rgba($grey, 0.3);
      outline: none;
    }
  }
}

.social--footer {
  justify-content: flex-start;

  .social__item {
    border-color: $brown;

    &:hover,
    &:focus {
      background-color: rgba($brown, 0.3);
    }
  }
}
