.tile {
  padding: 0 8px 8px 0;

  @include media($sm-breakpoint) {
    width: calc(100% / 2);
  }

  @include media($lg-breakpoint) {
    width: calc(100% / 3);
  }
}

.tile__link {
  position: relative;
  min-height: 330px;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: rgba(white, 0.1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  color: white;
  font-family: "ProximaNova", "ProximaNovaCond", "Arial", sans-serif;
  transition: 0.3s;

  &:hover,
  &:focus {
    background-color: rgba(black, 0.3);
    outline: none;
  }

  > * {
    max-width: 100%;
  }

  h3 {
    margin-bottom: 1rem;
    max-width: 90%;
    font-size: 22px;
    letter-spacing: 0.025em;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}

.tile__undertext {
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-align: center;
}

.tile__serif {
  display: block;
  font-family: "Georgia", serif;
  font-weight: 400;
}

.tile__and {
  margin: 0 auto;
  width: 120px;
  display: block;
  position: relative;
  text-transform: initial;

  &::before,
  &::after {
    content: "";
    width: 40px;
    height: 1px;
    position: absolute;
    top: 50%;
    background-color: #ffffff;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

.tile__button {
  padding: 0.5em 1em;
  // border: 2px solid #ffffff;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: inset 0 0 0 2px #ffffff;
  transition: 0.3s;

  &:hover {
    box-shadow: inset 0 0 0 50px #ffffff;
    color: black;
  }
}

.tile__brown {
  padding: 9px;
  font-size: 20px;
  line-height: 22px;
  font-weight: 700;
  text-align: center;
  text-transform: none;
  background-color: rgba($brown, 0.7);
}

.tile__date {
  padding: 1em;
  width: 210px;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  font-weight: 700;
  text-transform: uppercase;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.tile--blog {
  position: relative;

  &::before {
    content: "Блог";
    width: 75px;
    height: 30px;
    padding: 0 1em;
    position: absolute;
    z-index: 3;
    right: 4px;
    top: 17px;
    display: flex;
    align-items: center;
    font-family: "Georgia", serif;
    font-size: 16px;
    line-height: 18px;
    font-style: italic;
    letter-spacing: 0.025em;
    color: #ffffff;
    background-color: $brown;
  }

  &::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 4px;
    top: 47px;
    border-top: 2px solid $dark-brown;
    border-left: 2px solid $dark-brown;
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }
}
